@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300;400;500;700&display=swap");
:root {
  --c-BG1: #304254;
  --c-BG2: #0f2338;
  --c-dark-purple: #0e2338;
  --c-light-purple: #1b314c;
  --c-background-gradiant: linear-gradient(
    to bottom,
    #304254,
    #283a4d,
    #1f3246,
    #172a3f,
    #0e2338
  );
  --c-primary: #1b344d;
  --c-secondary: #0c243f;
  --c-blue: #3371d4;
  --c-white: #fff;
  --c-silent: #7d7e8e;
  --c-gray-line: rgba(255, 255, 255, 0.35);
  --s-card-border-radius: 1rem;
  --s-border-radius-mini: 0.5rem;
  --s-margin-top: 3rem;
  --s-card-padding: 3rem;
  --t-transition: 300ms;
  --t-transition-speed: 200ms;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Vazirmatn", sans-serif;
  text-decoration: none;
}
/* --------start scrollbar styling---------- */
::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background: var(--c-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--c-blue);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-silent);
}
/* --------END scrollbar styling---------- */
/* -------placeholder styles------- */
::placeholder {
  color: var(--c-white);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--c-white);
}
::-ms-input-placeholder {
  color: var(--c-white);
}
/* -------END placeholder styles------- */
/* -----start general elements styles----- */
h1 {
  font-size: 2.2rem;
  color: white;
}
h2 {
  font-size: 1.4rem;
  color: white;
}
h3 {
  font-size: 1rem;
  color: var(--c-white);
}
.profile {
  border-radius: 50%;
  border: 0.3rem solid var(--c-white);
}
.largProfile {
  width: 7rem;
}
.medProfile {
  width: 4rem;
}
.box {
  padding: 0.5rem 1rem;
  background-color: var(--c-dark-purple);
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--s-border-radius-mini);
  border: 1px solid var(--c-dark-purple);
  transition: var(--t-transition-speed);
  cursor: pointer;
}
.box:hover {
  border-color: var(--c-white);
}
.textMuted {
  color: var(--c-silent);
}
.telegramId {
  color: var(--c-silent);
  transition: var(--t-transition-speed);
}
.telegramId:hover {
  color: var(--c-white);
}
.telegramIdText {
  direction: ltr;
}
/* -----END general elements styles----- */
/* --------start components styling--------- */
.card {
  background-color: var(--c-primary);
  border-radius: var(--s-card-border-radius);
  padding: var(--s-card-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.2);
  transition: var(--t-transition-speed);
}
.card:hover {
  box-shadow: none;
}
.card > .topInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card > .topInformation > .right {
  display: flex;
  gap: 1rem;
}
.card > .topInformation > .right > .texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card > .topInformation > .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* --------END components styling--------- */
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to bottom,
    #304254,
    #283a4d,
    #1f3246,
    #172a3f,
    #0e2338
  );
  min-height: 100vh;
  direction: rtl;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 65%;
}
/* ------------------start navbar styles-------------- */
.container > .topNavbar {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  background-color: var(--c-dark-purple);
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--s-card-border-radius);
}
.container > .topNavbar > .logo > p {
  font-size: 2.5rem;
  color: var(--c-white);
}
.container > .topNavbar > .searchBox {
  width: 60%;
  background-color: var(--c-light-purple);
  display: flex;
  height: 3rem;
  align-items: center;
  border-radius: var(--s-card-border-radius);
}
.container > .topNavbar > .searchBox > input {
  background-color: transparent;
  width: 90%;
  font-size: large;
  color: var(--c-white);
  padding-right: 0.5rem;
}
.container > .topNavbar > .searchBox > span {
  color: var(--c-white);
  padding-right: 0.5rem;
}
.container > .topNavbar > .telegramBtn {
  padding: 0.5rem;
  background-color: var(--c-blue);
  border-radius: 0.5rem;
  font-size: medium;
  color: var(--c-white);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: var(--t-transition);
  cursor: pointer;
}
.container > .topNavbar > .telegramBtn:hover {
  filter: brightness(90%);
}
/* ------------------END navbar styles-------------- */
.contents {
  display: grid;
  grid-template-areas:
    "question question"
    "sidebar answers";
  gap: 2.5rem;
  margin-top: var(--s-margin-top);
  grid-template-columns: 1fr 2.5fr;
}
/* -------------start question box styling--------- */
.questionBox {
  grid-area: question;
}
.questionBox > .questionTexts {
  background-color: var(--c-secondary);
  color: var(--c-white);
  padding: calc(var(--s-card-padding) / 2);
  border-radius: var(--s-card-border-radius);
}
.questionBox > .questionTexts > p {
  line-height: 2.5rem;
  text-align: justify;
}
.questionBox > .questionTags {
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--c-gray-line);
}
.questionBox > .questionTags > .tagBox {
  padding: 0.5rem 1rem;
  border: 1px solid var(--c-gray-line);
  color: var(--c-gray-line);
  border-radius: var(--s-border-radius-mini);
  transition: var(--t-transition-speed);
  cursor: pointer;
  margin-top: 1rem;
}
.questionBox > .questionTags > .tagBox:hover {
  color: var(--c-white);
  border-color: var(--c-white);
}
/* -------------END question box styling--------- */
/* -----------start answers section styling--------- */
.answers {
  grid-area: answers;
}
.answers > .card {
  margin-bottom: 2rem;
}
.answers .answerText {
  font-size: large;
  color: var(--c-white);
  line-height: 2.5rem;
  text-align: justify;
}
/* -----------END answers section styling--------- */
/* -----------start aside styling--------- */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar > .telegramGroupLink {
  background-color: var(--c-blue);
  color: var(--c-white);
  padding: 2rem var(--s-card-padding);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--s-card-border-radius);
  font-size: 1.2rem;
  border: 3px solid var(--c-blue);
  transition: var(--t-transition);
}
.sidebar > .telegramGroupLink:hover {
  background-color: transparent;
}
.sidebar > .relatedQuestions {
  width: 100%;
  background-color: var(--c-primary);
  padding: 1rem;
  border-radius: var(--s-card-border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar > .relatedQuestions > a {
  width: 100%;
  background-color: var(--c-secondary);
  color: var(--c-white);
  padding: 1rem;
  border-radius: var(--s-card-border-radius);
  transition: var(--t-transition);
}
.sidebar > .relatedQuestions > a:hover {
  filter: brightness(150%);
}
/* -----------END aside styling--------- */
/* -----------start styling footer---------- */
footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 5rem;
  margin-top: calc(var(--s-margin-top));
  padding: var(--s-margin-top) 0;
  border-top: 3px solid var(--c-gray-line);
  color: var(--c-white);
}
footer h2 {
  padding: 0 0 1rem 0;
}
.about > p {
  text-align: justify;
}
.other > ul {
  color: var(--c-blue);
}
.other > ul > li > a {
  color: var(--c-blue);
  transition: var(--t-transition-speed);
  font-size: 1.1rem;
}
.other > ul > li > a:hover {
  color: var(--c-white);
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact > .info {
  display: flex;
  justify-content: space-between;
}
.contact > .info > .right {
  display: flex;
  gap: 1rem;
}
.contact > .info > .left > a {
  color: var(--c-silent);
  transition: var(--t-transition-speed);
}
.contact > .info > .left > a:hover {
  color: var(--c-white);
}
/* -----------END styling footer---------- */

/* &&&&&-----------RESPONSIVE------------&&&&& */
@media screen and (max-width: 1500px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .container {
    width: 90%;
  }
  .container > .topNavbar > .searchBox {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
  .contents {
    grid-template-areas:
      "question question"
      "answers answers"
      "sidebar sidebar";
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer > div {
    width: 60%;
  }
  .container > .topNavbar > .searchBox {
    width: 43%;
  }
  .sidebar > .telegramGroupLink {
    padding: 1rem var(--s-card-padding);
    width: 50%;
    margin: 0 auto;
  }
  .contents {
    gap: 1rem;
  }
  .contact > .info {
    max-width: 20rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  .container > .topNavbar {
    flex-direction: column;
    align-items: stretch;
  }
  .container > .topNavbar > .searchBox {
    width: 100%;
  }
  .container > .topNavbar > .logo {
    text-align: center;
  }
  .card > .topInformation {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .card > .topInformation > .right {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .card > .topInformation > .right > .texts {
    flex-direction: row;
    gap: 3rem;
    align-items: center;
  }
  .card > .topInformation > .left {
    gap: 3rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .container {
    width: 95%;
  }
  :root {
    --s-card-padding: 1.5rem;
  }
}
